@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}









header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: rgb(125, 51, 24);
    width: 100%;
    position: relative;
}
header img{
    width: 180px;
}
header li{
    list-style: none;
    display: inline-block;
}
header li:hover{
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}
header li{
    color: rgb(255, 127, 53);
    font-weight: 400;
    font-size: 19px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:1600px) and (min-width:885px) {
    .menu-btn{
        display: none;
    }
}
input[type="checkbox"] {
    display: none;
  }
  @media (max-width: 1000px) {
    nav {
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 885px) {
    nav .menu-btn i {
      display: block;
      color: rgb(255, 127, 53);
    }
  
    #click:checked~.menu-btn i::before {
      content: "\f01b";
      color: rgb(255, 127, 53);
    }
  
    nav ul {
      position: fixed;
      top: 60px;
      left: -100%;
      background:  #fff;
      height: auto;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      z-index: 1;
    }
  
    #click:checked~ul {
      left: 0;
      color: rgb(255, 127, 53);
    }
  
    nav ul li {
      width: 100%;
      margin: 8px 0;
    }
  
    nav ul li a {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.1s linear;
    }
  
    #click:checked~ul li a {
      margin-left: 0px;
    }
  
    nav ul li a.active,
    nav ul li a:hover {
      background: none;
      color: rgb(255, 127, 53);
    }
  }



.section2 video{
    width: 100%;
}
header a{
    text-decoration: none;
    color: rgb(255, 127, 53);
}
.video2{
    display: none;
}
@media (max-width:1180px) and (min-width:780px) {
    .row{
        gap: 10px;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        margin: auto;
    }
}
@media (max-width:830px) and (min-width:100px) {
    .video1{
        display: none;
    }
    .video2{
        display: block;
    }
}
.section2{
    padding-bottom: 10px;
}
.section3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.box{
    margin-top: 40px;
    height: auto;
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(125, 51, 24);
    padding: 20px;
    padding-bottom: 44px;
    position: relative;
    border: 0.1px solid rgb(125, 51, 24);
    box-shadow: 0px 0px 0.1px 0.5px rgb(125, 51, 24);
    border-radius: 30px;
}
.price{
  color: rgb(255, 127, 53);
  font-size: 20px;
}
.section3 img{
    width: 300px;
}
.inner{
    position: absolute;
    display: none;
    top: 18px;
    left: 20px;
}
.box:hover .inner{
    display: block;
    transition: all 20s;
}



.section5{
  text-align: center;
  color: rgb(125, 51, 24);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 10px;
  padding: 10px;
}
.logo{
  display: flex;
}
.section5 img{
  width: 200px;
}


.hoodie{
  margin: 20px;
  padding: 40px;
}
.hoodi{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.hoodie p{
  color: rgb(255, 127, 53);
}
.hood-left{
  display: flex;
  flex-wrap: wrap;

}
.hood-left img{
  width: 450px;
}
.hood-right{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(125, 51, 24);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.span2{
  font-size: 15px;
  color: rgb(255, 127, 53);
}
.hood-right h1{
  margin-top: 70px;
  font-size: 45px;
}
.span1{
  font-size: 50px;
}
@media (max-width:1250px) and (min-width:100px){
  .hoodie{
    margin: 10px;
    padding: 10px;
  }
  .hoodi{
    gap: 20px;
  }
}
@media (max-width:950px) and (min-width:750px){
  .hood-left img{
    width: 320px;
  }
}
@media (max-width:750px) and (min-width:610px){
  .hood-left img{
    width: 300px;
  }
}
@media (max-width:610px) and (min-width:560px){
    .hood-left img{
    width: 300px;
  }
}
@media (max-width:560px) and (min-width:100px){
    .hood-left img{
    width: 300px;
  }
}

    





footer {
  width: 100%;
  text-align: center;
  background-color: rgb(125, 51, 24);
  padding: 4px;
  color:  rgb(255, 127, 53);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
footer a {
  text-decoration: none;
  color: rgb(255, 127, 53);
}
footer a:visited {
  text-decoration: none;
  color: rgb(255, 127, 53);
}
.col-1 {
  padding-top: 10px;
}

.col-2 {
  padding-top: 10px;
}
.col-2 img{
  width: 120px;
}
.col-3 {
  padding-bottom: 10px;
  font-size: 18px;
}

